.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .background1 {
    width: 100vw;
    height: 100vh;
    background-image: url("/bg1.jpg");
    background-size: cover;
    scroll-snap-align: start;
  }
  
  .background2 {
    width: 100vw;
    height: 100vh;
    background-image: url("/bg2.jpg");
    background-size: cover;
    scroll-snap-align: start;
  }
  